<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>342421136467-ncbs9n58953uv044jdrdmh9fvf64c1bg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.342421136467-ncbs9n58953uv044jdrdmh9fvf64c1bg</string>
	<key>API_KEY</key>
	<string>AIzaSyAVUXk0-7TiaY64C6bzGiwxeJpbZBLc56M</string>
	<key>GCM_SENDER_ID</key>
	<string>342421136467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.martiushin.GeekShop</string>
	<key>PROJECT_ID</key>
	<string>geekshop-a881d</string>
	<key>STORAGE_BUCKET</key>
	<string>geekshop-a881d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:342421136467:ios:1ce15fb9f7773192f292a6</string>
	<key>DATABASE_URL</key>
	<string>https://geekshop-a881d.firebaseio.com</string>
</dict>
</plist>